<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Lien vers le fichier CSS externe -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jeu.css') }}">
</head>
<body>
    <div class="card-container">

        <div>
            <!-- Affichage de la question et de son titre -->
            <p>Question {{ question.numero }} : {{ question.titre }}</p>
    
            <!-- Formulaire pour passer à la question suivante -->
            {% if next_question %}
                <a href="{{ url_for('views.jeu') }}?numero={{ next_question }}">
                    <button>Suivant</button>
                </a>
            {% else %}
                <p>Fin du backlog</p>
            {% endif %}
        </div>

        <ul class="listeJ">
            {% for i in range(nb_player) %}
                <li class="player">
                    <img src="{{ url_for('static', filename='images/joueur.png') }}" alt="Image Joueur {{ i + 1 }}" class="player-image">
                    <p>{{ joueurs[i].nom }}</p>
                </li>
            {% endfor %}
        </ul>
        
        {% for carte in cartes %}
            <div><img src="{{ url_for('static', filename='images/' + carte) }}" alt="Carte {{ loop.index }}  " class="cards"></div>
        {% endfor %}

    </div>
</body>
</html>
